body { 
    letter-spacing: 1px;
    margin: 0;
    font-style: roboto, "Times new roman";

} 

.outer-header-container { 
    display:flex; 
    flex-direction: column; 
    justify-content: center;
    padding-bottom: 150px;
    background-color: #1F2937;

}
.header-container {  
    display:flex; 
    color:white;
    justify-content: space-between;
    padding-right: 225px;
    padding-left: 225px;
    align-items: center;
}
.header-logo { 
    font-size: 24px;
    color:#F9FAF8;
}
.header-container ul { 
    font-size: 18px;
    display: flex; 
    color: #E5E7EB;
  
}
.hero-container { 
    margin-top: 150px;
    display:flex;
    margin-left: 225px; 
    margin-right: 225px; 
    margin-top: 150px;
    justify-content: space-between;
}
.inner-hero-container { 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    padding-right: 50px;
    
}

.inner-hero-container h2 { 
    font-size: 48px;
    margin: 0;
    align-content: flex-start;
    font-weight: 800; 
    color: #F9FAF8;
}
.hero-container img { 
    width:600px; 
    height: 300px;
}

ul { 

    list-style: none;
}

li { 
    margin: 8px
}
.inner-hero-container p { 
    color:#F9FAF8;
}
a { 
    color: #E5E7EB;
    text-decoration: none;
}

button { 
    display: block;
    background-color: #3882F6;
    color: #F9FAF8; 
    padding-top: 5px; 
    padding-bottom: 5px; 
    padding-right: 15px; 
    padding-left: 30px;
    border-radius: 8px;
}
.inner-hero-container button { 
    align-self: flex-start; 
    padding-left: 25px; 
    padding-right: 25px;
}

.info-container h2{ 
    font-size: 36px; 
    font-weight: 800; 
    text-align: center;
    color: #1F2937; 
    margin-bottom: 60px;
    margin-top: 60px;
}

.inner-info-container { 
    display:flex; 
    flex: 1; 
    justify-content: center;
    gap: 60px;
    margin-bottom: 200px;

}

.img-pair { 
    display:flex;
    flex-direction: column;
    justify-content: space-between;    
}

.img-pair img { 
    width: 250px; 
    border-radius: 25px;
    height: 250px;
}

.info-container {
    gap: 20px;
    padding-left: 300px; 
    padding-right: 300px;
}